# C.4.6 기타 변수 데이터 처리 3

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df = pd.read_csv('2006_2014_DC1.csv')   # 앞 절까지 처리한 데이터를 다시 불러온다.
df.shape

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (101,106,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,157,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(100247, 253)

In [2]:
df.dtypes

Year                    int64
Area                    int64
IndCategory1           object
IndCategory2            int64
CompanyID               int64
StockMktListing         int64
Emp_total               int64
Emp_male              float64
Emp_female            float64
emp1                  float64
emp2                    int64
emp3                  float64
emp4                  float64
emp5                  float64
emp6                    int64
emp7                  float64
emp8                  float64
emp9                  float64
emp10                 float64
emp11                 float64
emp12                 float64
emp13                 float64
emp14                 float64
emp15                 float64
emp16                 float64
emp17                 float64
emp18                 float64
emp19                 float64
emp20                 float64
emp21                 float64
emp22                 float64
emp23                 float64
emp24                 float64
emp25                 float64
emp26                 float64
emp27                 float64
emp28                 float64
emp29                 float64
emp30                 float64
emp31                 float64
emp32                 float64
emp33                 float64
emp34                 float64
emp35                 float64
emp36                 float64
emp37                 float64
emp38                 float64
emp39                 float64
emp40                 float64
emp41                 float64
emp42                 float64
emp43                 float64
emp44                 float64
emp45                 float64
emp46                 float64
emp47                 float64
emp48                 float64
emp49                 float64
emp50                 float64
emp51                 float64
emp52                 float64
emp53                 float64
emp54                 float64
emp55                 float64
emp56                 float64
emp57                 float64
emp58                 float64
emp59                 float64
emp60                 float64
emp61                 float64
emp62                 float64
emp63                 float64
emp64                 float64
emp65                 float64
emp66                 float64
emp67                 float64
emp68                 float64
emp69                 float64
emp70                 float64
emp71                 float64
TAssetC1              float64
TAssetC2              float64
TAssetC3              float64
TAssetC4              float64
TAssetC5              float64
TAssetC6              float64
TAssetC7              float64
TAssetC8              float64
ITAssetC              float64
Patent1               float64
Patent2               float64
Patent3               float64
UMR1                  float64
UMR2                  float64
UMR3                  float64
Design1               float64
Design2               float64
Design3               float64
TradeMark1            float64
TradeMark2            float64
TradeMark3            float64
Subsidiary1            object
Subsidiary2           float64
Subsidiary3           float64
Subsidiary4           float64
Subsidiary5           float64
ParentCompany1         object
ParentCompany2        float64
ParentCompany3        float64
ParentCompany4        float64
B2B_revenue           float64
B2B_export1           float64
B2B_export2           float64
B2B_purchase1         float64
B2B_purchase2         float64
B2B_import1           float64
B2B_import2           float64
OutsourcingCost       float64
RNDcost1              float64
RNDcost2              float64
RNDcost3              float64
RNDcost4              float64
RNDcost5              float64
Outsourcing1           object
Outsourcing2           object
Outsourcing3           object
Outsourcing4           object
Outsourcing5           object
Outsourcing6           object
Outsourcing7           object
Outsourcing8           object
Outsourcing9           object
Outsourcing10          object
Outsourcing11          object
Outsourcing12          object
Outsourcing13          object
EBizSystem1            object
EBizSystem2            object
EBizSystem3            object
EBizSystem4            object
EBizSystem5            object
EBizSystem6            object
EBizSystem7            object
EBizSystem8            object
EBizSystem9            object
EBizSystem10           object
Franchise1              int64
Franchise2            float64
Overseas1               int64
Overseas2             float64
Overseas3             float64
Overseas4             float64
Overseas5             float64
Overseas6             float64
Overseas7             float64
Overseas8             float64
Overseas9             float64
NewEntry3              object
NewEntry1             float64
NewEntry2             float64
SAlliance1              int64
SAlliance2             object
SAlliance3             object
SAlliance4             object
SAlliance5             object
SAlliance6             object
SAlliance7             object
SAlliance8             object
SAlliance9             object
SAlliance10            object
SAlliance11            object
SAlliance12            object
SAlliance13            object
SAlliance14            object
SAlliance15            object
SAlliance16            object
SAlliance17            object
SAlliance18            object
SAlliance19            object
SAlliance20            object
SAlliance21            object
SAlliance22            object
SAlliance23            object
SAlliance24            object
SAlliance25            object
SAlliance26            object
SAlliance27            object
SAlliance28            object
SAlliance29            object
SAlliance30            object
SAlliance31            object
SAlliance32            object
SAlliance33            object
SAlliance34            object
SAlliance35            object
SAlliance36            object
SAlliance37            object
SAlliance38            object
SAlliance39            object
SAlliance40            object
SAlliance41            object
SAlliance42            object
SAlliance43            object
Compensation1         float64
Compensation2         float64
Compensation3         float64
Compensation4         float64
EquityShareCapital    float64
Asset1                  int64
Asset2                  int64
Asset3                float64
Asset4                float64
Asset5                float64
Asset6                float64
Asset7                float64
Asset8                float64
Asset9                float64
Liability1              int64
Liability2            float64
Liability3            float64
Capital1                int64
Capital2              float64
RevProfit1              int64
Cost1                   int64
Cost2                   int64
RevProfit2              int64
Cost3                   int64
NProfitB4Tax            int64
Cost4                 float64
Cost5                 float64
Cost6                 float64
Cost7                 float64
Cost8                   int64
Cost9                   int64
Cost10                  int64
Cost11                float64
Cost12                float64
Cost13                float64
Cost14                  int64
Cost15                float64
Cost16                float64
Cost17                float64
EBIZSystem2005_1      float64
EBIZSystem2005_2      float64
EBIZSystem2005_3      float64
EBIZSystem2005_4      float64
EBIZSystem2005_5      float64
EBIZSystem2005_6      float64
EBIZSystem2005_7      float64
EBIZSystem2005_8      float64
EBIZSystem2005_9      float64
EBIZSystem2005_10     float64
CapitalRatio1         float64
dtype: object

In [3]:
df['Subsidiary1'].isnull().sum() #값은 0

0

In [4]:
df['Subsidiary1'].value_counts(dropna=False) #N, Y, 0, 1, 2가 섞여 있음

2    48731
1    33493
N     6756
0     5735
Y     3868
0      837
1      827
Name: Subsidiary1, dtype: int64

In [5]:
df['Outsourcing1'].isnull().sum() # null value 갯수를 찾았더니 52,422개 나옴.

52422

In [6]:
df['Outsourcing1'].value_counts(dropna=False) # NaN, 0, 1, Y가 섞여 있음   
                                              # 이것은 더미 변수이므로 NaN은 0, Y는 1로 정리해 주어야 함.

NaN    52422
0.0    22874
1.0    20856
Y       2469
0       1331
1        295
Name: Outsourcing1, dtype: int64

In [2]:
df['Outsourcing1']  = df['Outsourcing1'].replace('Y', 1).fillna(0).astype(np.int64)
df['Outsourcing2']  = df['Outsourcing2'].replace('Y', 1).fillna(0).astype(np.int64)
df['Outsourcing3']  = df['Outsourcing3'].replace('Y', 1).fillna(0).astype(np.int64)
df['Outsourcing4']  = df['Outsourcing4'].replace('Y', 1).fillna(0).astype(np.int64)
df['Outsourcing5']  = df['Outsourcing5'].replace('Y', 1).fillna(0).astype(np.int64)
df['Outsourcing6']  = df['Outsourcing6'].replace('Y', 1).fillna(0).astype(np.int64)
df['Outsourcing7']  = df['Outsourcing7'].replace('Y', 1).fillna(0).astype(np.int64)
df['Outsourcing8']  = df['Outsourcing8'].replace('Y', 1).fillna(0).astype(np.int64)
df['Outsourcing9']  = df['Outsourcing9'].replace('Y', 1).fillna(0).astype(np.int64)
df['Outsourcing10'] = df['Outsourcing10'].replace('Y', 1).fillna(0).astype(np.int64)
df['Outsourcing11'] = df['Outsourcing11'].replace('Y', 1).fillna(0).astype(np.int64)
df['Outsourcing12'] = df['Outsourcing12'].replace('Y', 1).fillna(0).astype(np.int64)
df['Outsourcing13'] = df['Outsourcing13'].replace('Y', 1).fillna(0).astype(np.int64)

In [3]:
df['Outsourcing1'].value_counts(dropna=False)   # 이제 값이 0과 1로 통일돼 있고 dtype도 integer임

0    76627
1    23620
Name: Outsourcing1, dtype: int64

In [9]:
df['EBizSystem2'].isnull().sum()   # null value 갯수를 찾았더니 34,935개 나옴

34935

In [10]:
df['EBizSystem2'].value_counts(dropna=False)   # 결과를 보면 NaN, 0, 1, Y가 섞여 있음

1.0    45057
NaN    34935
0.0    13588
Y       5036
1       1044
0        587
Name: EBizSystem2, dtype: int64

In [4]:
df['EBizSystem2'] = df['EBizSystem2'].replace('Y', 1).fillna(0).astype(np.int64) 
df['EBizSystem3'] = df['EBizSystem3'].replace('Y', 1).fillna(0).astype(np.int64) 
df['EBizSystem4'] = df['EBizSystem4'].replace('Y', 1).fillna(0).astype(np.int64) 
df['EBizSystem5'] = df['EBizSystem5'].replace('Y', 1).fillna(0).astype(np.int64) 
df['EBizSystem6'] = df['EBizSystem6'].replace('Y', 1).fillna(0).astype(np.int64) 
df['EBizSystem7'] = df['EBizSystem7'].replace('Y', 1).fillna(0).astype(np.int64) 
df['EBizSystem8'] = df['EBizSystem8'].replace('Y', 1).fillna(0).astype(np.int64) 
df['EBizSystem9'] = df['EBizSystem9'].replace('Y', 1).fillna(0).astype(np.int64) 
df['EBizSystem10'] = df['EBizSystem10'].replace('Y', 1).fillna(0).astype(np.int64)

In [5]:
df['EBizSystem2'].value_counts(dropna=False)

1    51137
0    49110
Name: EBizSystem2, dtype: int64

In [6]:
# EBizSystem의 새로운 변수인 EBizSystem11생성 
# EBizSystem3 to 10까지 모두 값이 0이면 0, 아니면 1

c3 = df['EBizSystem3'] == 0
c4 = df['EBizSystem4'] == 0
c5 = df['EBizSystem5'] == 0
c6 = df['EBizSystem6'] == 0
c7 = df['EBizSystem7'] == 0
c8 = df['EBizSystem8'] == 0
c9 = df['EBizSystem9'] == 0
c10 = df['EBizSystem10'] == 0

df['EBizSystem11'] = np.where( (c3) & (c4) & (c5) & (c6) & (c7) & (c8) & (c9) & (c10), 0, 1)
df['EBizSystem11'].value_counts(dropna=False)

0    70017
1    30230
Name: EBizSystem11, dtype: int64

In [7]:
#EBizSystem의 새로운 변수인 EBizSystem12생성하되 EBizSystem3 to 10까지 값들의 합계로 설정

df['EBizSystem12'] =  df['EBizSystem3'] + df['EBizSystem4'] + df['EBizSystem5'] + df['EBizSystem6'] \
                     + df['EBizSystem7'] + df['EBizSystem8'] + df['EBizSystem9'] + df['EBizSystem10']
df['EBizSystem12'].value_counts()

0    70017
1    20033
2     6085
3     2161
4     1105
5      472
6      225
7      140
8        9
Name: EBizSystem12, dtype: int64

In [8]:
df.shape

(100247, 255)

In [9]:
# drop(inplace=True)가 들어간 코딩문은 한 번만 실행해야 함에 유의

df.drop(['EBizSystem1'], axis=1, inplace=True)

In [10]:
df.shape

(100247, 254)

In [18]:
df1 = df.loc[:,'SAlliance2':'SAlliance43']       # SAlliance2부터 43까지 컬럼을 df1에 모음
df1.isnull().mean().sort_values(ascending=False) # 결측값 비율을 내림차순으로 보여주기

SAlliance38    0.978992
SAlliance32    0.978034
SAlliance26    0.976777
SAlliance20    0.975181
SAlliance8     0.972478
SAlliance2     0.969934
SAlliance14    0.967999
SAlliance43    0.875448
SAlliance41    0.875288
SAlliance42    0.875268
SAlliance40    0.875099
SAlliance39    0.874809
SAlliance37    0.768252
SAlliance31    0.768163
SAlliance13    0.768133
SAlliance29    0.768043
SAlliance35    0.767913
SAlliance7     0.767893
SAlliance19    0.767784
SAlliance36    0.767514
SAlliance23    0.767474
SAlliance25    0.767424
SAlliance30    0.767185
SAlliance34    0.767045
SAlliance21    0.767025
SAlliance17    0.767015
SAlliance33    0.766826
SAlliance22    0.766796
SAlliance11    0.766696
SAlliance27    0.766527
SAlliance12    0.766437
SAlliance6     0.766257
SAlliance5     0.766088
SAlliance28    0.765769
SAlliance16    0.763644
SAlliance10    0.763205
SAlliance3     0.763005
SAlliance15    0.762955
SAlliance24    0.762955
SAlliance18    0.762886
SAlliance4     0.762646
SAlliance9     0.762138
dtype: float64

In [11]:
df2006 = df.loc[df['Year'] == 2006]   # Year 변수가 2006을 값으로 갖는 행은 모두 df2006에 저장
df2007 = df.loc[df['Year'] == 2007]   # 이하 2007년부터 2014년까지 동일 과정 수행
df2008 = df.loc[df['Year'] == 2008]
df2009 = df.loc[df['Year'] == 2009]
df2010 = df.loc[df['Year'] == 2010]
df2011 = df.loc[df['Year'] == 2011]
df2012 = df.loc[df['Year'] == 2012]
df2013 = df.loc[df['Year'] == 2013]
df2014 = df.loc[df['Year'] == 2014]

In [12]:
df2014.shape

(12417, 254)

In [13]:
df2014.dtypes

Year                    int64
Area                    int64
IndCategory1           object
IndCategory2            int64
CompanyID               int64
StockMktListing         int64
Emp_total               int64
Emp_male              float64
Emp_female            float64
emp1                  float64
emp2                    int64
emp3                  float64
emp4                  float64
emp5                  float64
emp6                    int64
emp7                  float64
emp8                  float64
emp9                  float64
emp10                 float64
emp11                 float64
emp12                 float64
emp13                 float64
emp14                 float64
emp15                 float64
emp16                 float64
emp17                 float64
emp18                 float64
emp19                 float64
emp20                 float64
emp21                 float64
emp22                 float64
emp23                 float64
emp24                 float64
emp25                 float64
emp26                 float64
emp27                 float64
emp28                 float64
emp29                 float64
emp30                 float64
emp31                 float64
emp32                 float64
emp33                 float64
emp34                 float64
emp35                 float64
emp36                 float64
emp37                 float64
emp38                 float64
emp39                 float64
emp40                 float64
emp41                 float64
emp42                 float64
emp43                 float64
emp44                 float64
emp45                 float64
emp46                 float64
emp47                 float64
emp48                 float64
emp49                 float64
emp50                 float64
emp51                 float64
emp52                 float64
emp53                 float64
emp54                 float64
emp55                 float64
emp56                 float64
emp57                 float64
emp58                 float64
emp59                 float64
emp60                 float64
emp61                 float64
emp62                 float64
emp63                 float64
emp64                 float64
emp65                 float64
emp66                 float64
emp67                 float64
emp68                 float64
emp69                 float64
emp70                 float64
emp71                 float64
TAssetC1              float64
TAssetC2              float64
TAssetC3              float64
TAssetC4              float64
TAssetC5              float64
TAssetC6              float64
TAssetC7              float64
TAssetC8              float64
ITAssetC              float64
Patent1               float64
Patent2               float64
Patent3               float64
UMR1                  float64
UMR2                  float64
UMR3                  float64
Design1               float64
Design2               float64
Design3               float64
TradeMark1            float64
TradeMark2            float64
TradeMark3            float64
Subsidiary1            object
Subsidiary2           float64
Subsidiary3           float64
Subsidiary4           float64
Subsidiary5           float64
ParentCompany1         object
ParentCompany2        float64
ParentCompany3        float64
ParentCompany4        float64
B2B_revenue           float64
B2B_export1           float64
B2B_export2           float64
B2B_purchase1         float64
B2B_purchase2         float64
B2B_import1           float64
B2B_import2           float64
OutsourcingCost       float64
RNDcost1              float64
RNDcost2              float64
RNDcost3              float64
RNDcost4              float64
RNDcost5              float64
Outsourcing1            int64
Outsourcing2            int64
Outsourcing3            int64
Outsourcing4            int64
Outsourcing5            int64
Outsourcing6            int64
Outsourcing7            int64
Outsourcing8            int64
Outsourcing9            int64
Outsourcing10           int64
Outsourcing11           int64
Outsourcing12           int64
Outsourcing13           int64
EBizSystem2             int64
EBizSystem3             int64
EBizSystem4             int64
EBizSystem5             int64
EBizSystem6             int64
EBizSystem7             int64
EBizSystem8             int64
EBizSystem9             int64
EBizSystem10            int64
Franchise1              int64
Franchise2            float64
Overseas1               int64
Overseas2             float64
Overseas3             float64
Overseas4             float64
Overseas5             float64
Overseas6             float64
Overseas7             float64
Overseas8             float64
Overseas9             float64
NewEntry3              object
NewEntry1             float64
NewEntry2             float64
SAlliance1              int64
SAlliance2             object
SAlliance3             object
SAlliance4             object
SAlliance5             object
SAlliance6             object
SAlliance7             object
SAlliance8             object
SAlliance9             object
SAlliance10            object
SAlliance11            object
SAlliance12            object
SAlliance13            object
SAlliance14            object
SAlliance15            object
SAlliance16            object
SAlliance17            object
SAlliance18            object
SAlliance19            object
SAlliance20            object
SAlliance21            object
SAlliance22            object
SAlliance23            object
SAlliance24            object
SAlliance25            object
SAlliance26            object
SAlliance27            object
SAlliance28            object
SAlliance29            object
SAlliance30            object
SAlliance31            object
SAlliance32            object
SAlliance33            object
SAlliance34            object
SAlliance35            object
SAlliance36            object
SAlliance37            object
SAlliance38            object
SAlliance39            object
SAlliance40            object
SAlliance41            object
SAlliance42            object
SAlliance43            object
Compensation1         float64
Compensation2         float64
Compensation3         float64
Compensation4         float64
EquityShareCapital    float64
Asset1                  int64
Asset2                  int64
Asset3                float64
Asset4                float64
Asset5                float64
Asset6                float64
Asset7                float64
Asset8                float64
Asset9                float64
Liability1              int64
Liability2            float64
Liability3            float64
Capital1                int64
Capital2              float64
RevProfit1              int64
Cost1                   int64
Cost2                   int64
RevProfit2              int64
Cost3                   int64
NProfitB4Tax            int64
Cost4                 float64
Cost5                 float64
Cost6                 float64
Cost7                 float64
Cost8                   int64
Cost9                   int64
Cost10                  int64
Cost11                float64
Cost12                float64
Cost13                float64
Cost14                  int64
Cost15                float64
Cost16                float64
Cost17                float64
EBIZSystem2005_1      float64
EBIZSystem2005_2      float64
EBIZSystem2005_3      float64
EBIZSystem2005_4      float64
EBIZSystem2005_5      float64
EBIZSystem2005_6      float64
EBIZSystem2005_7      float64
EBIZSystem2005_8      float64
EBIZSystem2005_9      float64
EBIZSystem2005_10     float64
CapitalRatio1         float64
EBizSystem11            int32
EBizSystem12            int64
dtype: object

In [22]:
df2014[['Subsidiary1','ParentCompany1','NewEntry3' ]].dtypes

Subsidiary1       object
ParentCompany1    object
NewEntry3         object
dtype: object

In [15]:
df2014['Subsidiary1'].value_counts(dropna=False)

2    7424
1    4993
Name: Subsidiary1, dtype: int64

In [16]:
df2014['ParentCompany1'].value_counts(dropna=False)

2    9543
1    2874
Name: ParentCompany1, dtype: int64

In [18]:
df2014['NewEntry3'].value_counts(dropna=False)

2    12063
1      354
Name: NewEntry3, dtype: int64

In [25]:
df2014['Subsidiary1'] = df2014['Subsidiary1'].astype(np.int64)
df2014['ParentCompany1'] = df2014['ParentCompany1'].astype(np.int64)
df2014['NewEntry3'] = df2014['NewEntry3'].astype(np.int64)

<ipython-input-25-ed16abfc10aa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2014['Subsidiary1'] = df2014['Subsidiary1'].astype(np.int64)
<ipython-input-25-ed16abfc10aa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2014['ParentCompany1'] = df2014['ParentCompany1'].astype(np.int64)
<ipython-input-25-ed16abfc10aa>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2014['NewEntry3'] = df2014['NewEntry3'].astype(np.int64)

In [26]:
df2014[['Subsidiary1','ParentCompany1','NewEntry3' ]].dtypes

Subsidiary1       int64
ParentCompany1    int64
NewEntry3         int64
dtype: object

In [19]:
# 참조 코딩
df2014t = df2014.loc[:,'SAlliance2':'SAlliance43']       # SAlliance2부터 43까지 컬럼을 df1에 모음
df2014t.isnull().mean().sort_values(ascending=False)     # 결측값 비율을 내림차순으로 보여주기

SAlliance2     1.000000
SAlliance14    1.000000
SAlliance38    1.000000
SAlliance37    1.000000
SAlliance32    1.000000
SAlliance26    1.000000
SAlliance8     1.000000
SAlliance20    1.000000
SAlliance43    0.999919
SAlliance41    0.999839
SAlliance42    0.999597
SAlliance31    0.999597
SAlliance13    0.999356
SAlliance29    0.999356
SAlliance40    0.999114
SAlliance7     0.998953
SAlliance39    0.998470
SAlliance19    0.998389
SAlliance23    0.998228
SAlliance35    0.998148
SAlliance36    0.997826
SAlliance25    0.997584
SAlliance21    0.997584
SAlliance22    0.997342
SAlliance17    0.997101
SAlliance33    0.996134
SAlliance30    0.995973
SAlliance11    0.995973
SAlliance34    0.995893
SAlliance12    0.995410
SAlliance6     0.995007
SAlliance27    0.994443
SAlliance5     0.993960
SAlliance28    0.993155
SAlliance16    0.986470
SAlliance18    0.986390
SAlliance24    0.986067
SAlliance3     0.985745
SAlliance15    0.985504
SAlliance4     0.985343
SAlliance10    0.985262
SAlliance9     0.983168
dtype: float64

In [27]:
df2006.to_csv('2006DC1.csv', index=False) #각 연도별 파일을 연도별 csv 파일로 저장
df2007.to_csv('2007DC1.csv', index=False)
df2008.to_csv('2008DC1.csv', index=False)
df2009.to_csv('2009DC1.csv', index=False)
df2010.to_csv('2010DC1.csv', index=False)
df2011.to_csv('2011DC1.csv', index=False)
df2012.to_csv('2012DC1.csv', index=False)
df2013.to_csv('2013DC1.csv', index=False)
df2014.to_csv('2014DC1.csv', index=False)

df.to_csv('2006_2014_DC2.csv', index=False) #전체 파일도 csv로 저장